*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background: linear-gradient(to bottom, #03152b, #000814);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    font-family:'Poppins', sans-serif;
}

.splash-container{
    text-align:center;
    animation: fadeIn 2s ease;
}

.logo{
    width:140px;
    animation: float 3s ease-in-out infinite;
    filter: drop-shadow(0 0 20px #00c3ff);
}

.brand{
    margin-top:20px;
    font-size:48px;
    font-family:'Cinzel', serif;
    letter-spacing:4px;
}

.exam{
    color:white;
}

.ora{
    color:#00cfff;
}

.tagline{
    margin-top:12px;
    color:#b8dfff;
    font-size:16px;
    letter-spacing:3px;
}

@keyframes float{
    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-10px);
    }

    100%{
        transform:translateY(0px);
    }
}

@keyframes fadeIn{
    from{
        opacity:0;
    }

    to{
        opacity:1;
    }
}
.form-container{
    width:90%;
    max-width:350px;
    background:rgba(255,255,255,0.05);
    padding:30px;
    border-radius:20px;
    backdrop-filter:blur(10px);
    text-align:center;
    box-shadow:0 0 20px rgba(0, 195, 255, 0.2);
}

.small-logo{
    width:90px;
    margin-bottom:15px;
}

.form-title{
    color:white;
    margin-bottom:25px;
    font-family:'Cinzel', serif;
}

form{
    display:flex;
    flex-direction:column;
}

input{
    margin-bottom:15px;
    padding:14px;
    border:none;
    border-radius:12px;
    background:rgba(255,255,255,0.08);
    color:white;
    font-size:16px;
}

input::placeholder{
    color:#b8dfff;
}

button{
    padding:14px;
    border:none;
    border-radius:12px;
    background:#00cfff;
    color:#03152b;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.03);
}

.switch-text{
    margin-top:20px;
    color:white;
}

.switch-text a{
    color:#00cfff;
    text-decoration:none;
}
