<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>About You - Examora</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="dashboard">

    <h1 class="welcome">
        🎓 About You
    </h1>

    <div class="leaderboard">

        <div class="leader-item">
            Weekly Result: Coming Soon
        </div>

        <div class="leader-item">
            Improvement System: Coming Soon
        </div>

        <div class="leader-item">
            Exam History: Coming Soon
        </div>

    </div>

    <!-- BOTTOM NAVIGATION -->

    <div class="bottom-nav">

        <a href="/dashboard" class="nav-item">
            📝
            <span>Home</span>
        </a>

        <a href="/about" class="nav-item active-nav">
            🎓
            <span>About You</span>
        </a>

        <a href="/profile" class="nav-item">
            🧑‍🚀
            <span>Profile</span>
        </a>

    </div>

</div>

</body>

</html>
