<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setup - Examora</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="form-container">

    <img src="{{ url_for('static', filename='logo.png') }}"
         class="small-logo">

    <h1 class="form-title">Academic Setup</h1>

    <form method="POST">

        <select name="board" required>

            <option value="">Select Board</option>

            <option>FBISE</option>
            <option>Punjab Board</option>
            <option>Sindh Board</option>
            <option>KPK Board</option>
            <option>AJK Board</option>

        </select>

        <select name="class_name" required>

            <option value="">Select Class</option>

            <option>9th</option>
            <option>10th</option>
            <option>1st Year</option>
            <option>2nd Year</option>

        </select>
<select name="group_name" required>

    <option value="">Select Group</option>

    <option>Science Biology</option>

    <option>Science Computer</option>

    <option>Arts</option>

    <option>Pre-Medical</option>

    <option>Pre-Engineering</option>

    <option>ICS</option>

    <option>ICOM</option>

    <option>FA Arts</option>

</select>
        <button type="submit">
            Continue
        </button>

    </form>

</div>

</body>
</html>
