<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examora</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&family=Poppins:wght@300;400&display=swap" rel="stylesheet">

    <script>
        setTimeout(function(){
            window.location.href = "/login";
        }, 5000);
    </script>

</head>

<body>

    <div class="splash-container">

        <img src="{{ url_for('static', filename='logo.png') }}" class="logo">

        <h1 class="brand">
            <span class="exam">EXAM</span><span class="ora">ORA</span>
        </h1>

        <p class="tagline">Practice Until Ready</p>

    </div>

</body>
</html>
